@theme {
  /* Base color */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);

  --color-base-100-dark: oklch(25.33% 0.016 252.42);
  --color-base-200-dark: oklch(23.26% 0.014 253.1);
  --color-base-300-dark: oklch(21.15% 0.012 254.09);
  --color-base-content-dark: oklch(97.807% 0.029 256.847);

}
