@import "tailwindcss";
@import "./theme/colors.theme.css";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-gray-900 dark:text-white;
}

h1 {
  @apply text-3xl uppercase font-black;
}

h2 {
  @apply text-2xl uppercase font-medium;
}

.display {
  @apply flex flex-col gap-6 ring-1 ring-slate-200 p-4 rounded-xl;
  @apply dark:ring-slate-600;
}

@theme {
  --color-orange-50: oklch(0.984 0.01 38.24);
  --color-orange-100: oklch(0.968 0.04 38.24);
  --color-orange-200: oklch(0.929 0.08 38.24);
  --color-orange-300: oklch(0.869 0.10 38.24);
  --color-orange-400: oklch(0.830 0.11 38.24);
  --color-orange-500: oklch(0.720 0.12 38.24);
  --color-orange-600: oklch(0.46 0.14 38.24);
  --color-orange-700: oklch(0.38 0.14 38.24);
  --color-orange-800: oklch(0.28 0.14 38.24);
  --color-orange-900: oklch(0.18 0.14 38.24);
  --color-orange-950: oklch(0.08 0.14 38.24);
}